node-red/flows.json
[{"id":"8fb2bfae3c7d38d4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"96ddad610503b6f6","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["135d383f20c80d88","0880ef1c4c48925d"]]},{"id":"2cd79f40fdb1ec81","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"image/jpeg"},"x":750,"y":180,"wires":[]},{"id":"ddcf56525af3918e","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-set-handler","func":"const outputs = JSON.parse(msg.payload)\n                    .map(number => { \n                        return { payload: number }\n                    });\n\nnode.send(outputs);\n\n// Save the current servo values\nconst lastValues = flow.get('servos');\nconst newValues = [];\noutputs.forEach((servo, index) => {\n    let value = servo[0].payload;\n    if (value === null) {\n        value = lastValues[index];\n        console.log(value);\n    }\n    \n    newValues[index] = value;\n});\n\nflow.set('servos', newValues);\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["ae9da426cfbf9718"],[],[]]},{"id":"bc0ada7a42b1dd60","type":"function","z":"8fb2bfae3c7d38d4","name":"camera-sender","func":"// We assume everything goes OK everytime\nmsg.statusCode = 200;\n\nlet filePath = String.raw`webcam.jpg`;\n// filePath = String.raw`C:\\Users\\paapp\\Desktop\\Juttuja\\node-red\\jonne.jpg`;\n\nconst fs = global.get('fs');\n\nconst imageBuffer = fs.readFileSync(filePath);\nmsg.payload = imageBuffer.toString('base64');\n\n// const imageBuffer = msg.payload;\n// msg.payload = imageBuffer;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["2cd79f40fdb1ec81","d2fdb75bfa48c167"]]},{"id":"135d383f20c80d88","type":"function","z":"8fb2bfae3c7d38d4","name":"get-camera","func":"const cam = context.get(\"cam\");\ncam.capture('webcam.jpg', (err, data) => { node.send(msg); });\n","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nconst webcam = global.get('webcam');\n\nconst cam = webcam.create({\n    width: 1280,\n    height: 720,\n    quality: 100,\n    frames: 60,\n    output: 'jpeg',\n    saveShots: false\n});\n\ncontext.set(\"cam\", cam);","finalize":"","libs":[],"x":330,"y":180,"wires":[["bc0ada7a42b1dd60"]]},{"id":"0880ef1c4c48925d","type":"debug","z":"8fb2bfae3c7d38d4","name":"camera-get-request","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Camera: Request received\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":360,"y":60,"wires":[]},{"id":"c52e33bbadd351c3","type":"websocket in","z":"8fb2bfae3c7d38d4","name":"servo websocket","server":"df33e4cc38186415","client":"","x":165,"y":340,"wires":[["ddcf56525af3918e"]],"l":false},{"id":"ae9da426cfbf9718","type":"debug","z":"8fb2bfae3c7d38d4","name":"head1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":320,"wires":[]},{"id":"91b39db42ff9dc58","type":"debug","z":"8fb2bfae3c7d38d4","name":"torso2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":380,"wires":[]},{"id":"7ed56ff7af519b9c","type":"debug","z":"8fb2bfae3c7d38d4","name":"eye3","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":440,"wires":[]},{"id":"e1bb5c88cc74b8b6","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/servo/get","method":"get","upload":false,"swaggerDoc":"","x":100,"y":600,"wires":[["1123baa5016085cb"]]},{"id":"9cdffc548b84a4c5","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":750,"y":600,"wires":[]},{"id":"1123baa5016085cb","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-get-handler","func":"const servos = flow.get('servos');\n\nmsg.payload = JSON.stringify(servos);\nmsg.statusCode = 200;\n\nnode.send(msg);\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":600,"wires":[["9cdffc548b84a4c5","36b27ae32febe7fa"]]},{"id":"36b27ae32febe7fa","type":"debug","z":"8fb2bfae3c7d38d4","name":"servo-get-response","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"5b62badd6ecf9fc9","type":"rpi-gpio in","z":"8fb2bfae3c7d38d4","name":"","pin":"4","intype":"tri","debounce":"25","read":true,"bcm":true,"x":70,"y":780,"wires":[["4a17a5a54fce3cfb"]]},{"id":"fb6c061da1c85c13","type":"comment","z":"8fb2bfae3c7d38d4","name":"","info":"REMOVE THE DEFAULT 50 VALUE CASE","x":460,"y":700,"wires":[]},{"id":"0f8a4ab38ba4d73a","type":"function","z":"8fb2bfae3c7d38d4","name":"function 5","func":"// Not sure if this can cause concurrency errors\n\nconst order = [\"head1\", \"torso2\", \"eye3\"];\nconst index = order.indexOf(msg.topic);\n\nconst servos = flow.get(\"servos\");\n\n// REMEMBER TO REVERT THIS\nservos[index] = msg.payload ?? 50; \n\nflow.set(\"servos\", servos);\n","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"servos\", []);","finalize":"","libs":[],"x":460,"y":780,"wires":[[]]},{"id":"2bd31f068f895f48","type":"rpi-gpio in","z":"8fb2bfae3c7d38d4","name":"","pin":"17","intype":"tri","debounce":"25","read":true,"bcm":true,"x":70,"y":820,"wires":[["f710f136bab6600d"]]},{"id":"fe800062a351b9f9","type":"rpi-gpio in","z":"8fb2bfae3c7d38d4","name":"","pin":"27","intype":"tri","debounce":"25","read":true,"bcm":true,"x":70,"y":860,"wires":[["38ae8b04c147de09"]]},{"id":"4a17a5a54fce3cfb","type":"change","z":"8fb2bfae3c7d38d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"head1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":780,"wires":[["0f8a4ab38ba4d73a"]]},{"id":"f710f136bab6600d","type":"change","z":"8fb2bfae3c7d38d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"torso2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":820,"wires":[["0f8a4ab38ba4d73a"]]},{"id":"38ae8b04c147de09","type":"change","z":"8fb2bfae3c7d38d4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"eye3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":860,"wires":[["0f8a4ab38ba4d73a"]]},{"id":"d2fdb75bfa48c167","type":"debug","z":"8fb2bfae3c7d38d4","name":"camera-get-response","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Camera: Response sent\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"df33e4cc38186415","type":"websocket-listener","path":"/servo/set","wholemsg":"false"}]