node-red/flows.json
[{"id":"8fb2bfae3c7d38d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ddcf56525af3918e","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-set-handler","func":"const outputs = JSON.parse(msg.payload)\n                    .map(number => { \n                        return { payload: number }\n                    });\n\nnode.send(outputs);\n\n// Save the current servo values\nconst lastValues = flow.get('servos');\nconst newValues = [];\noutputs.forEach((servo, index) => {\n    let value = servo[0].payload;\n    if (value === null) {\n        value = lastValues[index];\n        console.log(value);\n    }\n    \n    newValues[index] = value;\n});\n\nflow.set('servos', newValues);\n","outputs":15,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["37a15a84a5f624ee"],["c13befb1d8166d67"],["61929a90da0f2f03"],["d1b110ebf6ea947d"],["6694ad12248b7a11"],["ea120ffe9fee6bd1"],["da83de5762e07d98"],["c17b59f929a0b21a"],["960a6a82a54dd786"],["39d97d9615bd5879"],["b89ab9a9a1dfa15b"],["3811b1cf39c0b531"],["6b3c83e6a06f21cb"],["de9d80c0bdcb8193"],["d3f1bb5d633a5188"]]},{"id":"c52e33bbadd351c3","type":"websocket in","z":"8fb2bfae3c7d38d4","name":"/servo/set","server":"df33e4cc38186415","client":"","x":175,"y":420,"wires":[["ddcf56525af3918e"]],"l":false},{"id":"e1bb5c88cc74b8b6","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/servo/get","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["1123baa5016085cb"]]},{"id":"9cdffc548b84a4c5","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":790,"y":260,"wires":[]},{"id":"1123baa5016085cb","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-get-handler","func":"const servos = flow.get('servos');\n\nmsg.payload = JSON.stringify(servos);\nmsg.statusCode = 200;\n\nnode.send(msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["9cdffc548b84a4c5"]]},{"id":"de88ead7c717d440","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-shoulder-x","info":"","x":950,"y":320,"wires":[]},{"id":"9c5e729078ab4138","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-shoulder-y","info":"","x":950,"y":360,"wires":[]},{"id":"8ab7d4299f8c1c6d","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-elbow","info":"","x":930,"y":400,"wires":[]},{"id":"6136660f427d2efd","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-hand-x","info":"","x":940,"y":440,"wires":[]},{"id":"c634fa2855bb0388","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-hand-y","info":"","x":940,"y":480,"wires":[]},{"id":"e01e6cefa9da6d27","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-shoulder-x","info":"","x":950,"y":520,"wires":[]},{"id":"6abde4449046fa8a","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-shoulder-y","info":"","x":950,"y":560,"wires":[]},{"id":"95b23c3eb179d7aa","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-elbow","info":"","x":930,"y":600,"wires":[]},{"id":"7aef2746f2e996cc","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-hand-x","info":"","x":940,"y":640,"wires":[]},{"id":"0ccc17866fb8fc8d","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-hand-y","info":"","x":940,"y":680,"wires":[]},{"id":"a3965650ffddad60","type":"comment","z":"8fb2bfae3c7d38d4","name":"eye-x","info":"","x":930,"y":720,"wires":[]},{"id":"a52b139ee08b11fe","type":"comment","z":"8fb2bfae3c7d38d4","name":"eye-y","info":"","x":930,"y":760,"wires":[]},{"id":"7bce1aaf1178548f","type":"comment","z":"8fb2bfae3c7d38d4","name":"neck-x","info":"","x":930,"y":800,"wires":[]},{"id":"61e9b8096f3e57f7","type":"comment","z":"8fb2bfae3c7d38d4","name":"neck-y","info":"","x":930,"y":840,"wires":[]},{"id":"bc2414b4f7b278d0","type":"comment","z":"8fb2bfae3c7d38d4","name":"jaw","info":"","x":930,"y":880,"wires":[]},{"id":"37a15a84a5f624ee","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"4","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":320,"wires":[]},{"id":"cd5cf557364d929c","type":"exec","z":"8fb2bfae3c7d38d4","command":"sudo pigpiod -s 2 -f -l","addpay":"","append":"","useSpawn":"false","timer":"","winHide":true,"oldrc":false,"name":"","x":360,"y":60,"wires":[[],[],[]]},{"id":"404ef26d8287cfce","type":"inject","z":"8fb2bfae3c7d38d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payloadType":"date","x":130,"y":60,"wires":[["cd5cf557364d929c"]]},{"id":"0c661f1bd9b80d86","type":"exec","z":"8fb2bfae3c7d38d4","command":"raspistill  -t 1 -w 540 -h 480 -n -o -","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":400,"y":160,"wires":[["e8bb88ea278918c9"],[],[]]},{"id":"75263bbcf770da79","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["0c661f1bd9b80d86"]]},{"id":"440fe14023d02e85","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"image/jpeg"},"x":790,"y":160,"wires":[]},{"id":"e8bb88ea278918c9","type":"function","z":"8fb2bfae3c7d38d4","name":"","func":"const result = msg.payload.toString('base64');\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["440fe14023d02e85"]]},{"id":"c13befb1d8166d67","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":360,"wires":[]},{"id":"61929a90da0f2f03","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":400,"wires":[]},{"id":"d1b110ebf6ea947d","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"27","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":440,"wires":[]},{"id":"6694ad12248b7a11","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":480,"wires":[]},{"id":"ea120ffe9fee6bd1","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":520,"wires":[]},{"id":"da83de5762e07d98","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"24","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":560,"wires":[]},{"id":"c17b59f929a0b21a","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"25","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":600,"wires":[]},{"id":"960a6a82a54dd786","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"5","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":640,"wires":[]},{"id":"39d97d9615bd5879","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"6","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":680,"wires":[]},{"id":"b89ab9a9a1dfa15b","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"12","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":720,"wires":[]},{"id":"3811b1cf39c0b531","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"13","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":760,"wires":[]},{"id":"6b3c83e6a06f21cb","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"19","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":800,"wires":[]},{"id":"de9d80c0bdcb8193","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"16","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":840,"wires":[]},{"id":"d3f1bb5d633a5188","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"26","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":880,"wires":[]},{"id":"df33e4cc38186415","type":"websocket-listener","path":"/servo/set","wholemsg":"false"}]