node-red/flows.json
[{"id":"8fb2bfae3c7d38d4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"49c12c636c4b2c52","type":"ui_group","name":"Demo","tab":"6740f83906d1459b","order":1,"disp":true,"width":"6","collapse":false},{"id":"6740f83906d1459b","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"536de9f05d31c445","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8f64934c038977a","type":"websocket-client","path":"ws://localhost:9879","tls":"","wholemsg":"false","hb":"0","subprotocol":""},{"id":"cd3195afd72498be","type":"websocket-listener","path":"ws://192.168.1.91:9879","wholemsg":"false"},{"id":"df33e4cc38186415","type":"websocket-listener","path":"/servo/set","wholemsg":"false"},{"id":"96ddad610503b6f6","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["0880ef1c4c48925d","0010430a09323bad"]]},{"id":"2cd79f40fdb1ec81","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"image/jpeg"},"x":770,"y":180,"wires":[]},{"id":"ddcf56525af3918e","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-set-handler","func":"const outputs = JSON.parse(msg.payload)\n                    .map(number => { \n                        return { payload: number }\n                    });\n\nnode.send(outputs);\n\n// Save the current servo values\nconst lastValues = flow.get('servos');\nconst newValues = [];\noutputs.forEach((servo, index) => {\n    let value = servo[0].payload;\n    if (value === null) {\n        value = lastValues[index];\n        console.log(value);\n    }\n    \n    newValues[index] = value;\n});\n\nflow.set('servos', newValues);\n","outputs":15,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":480,"wires":[["37a15a84a5f624ee"],["154ab160c6626aca"],["a5badbe8605d44a3"],["5e362f0bc2b1ccf8"],["7fa136f023d86f18"],["825de885183b17c5"],["1ed2f1d49a0a49ae"],["cc9c2f76ea0a6b1f"],["37562ab0a3832ce2"],["ba6074d9efa3f3f7"],["e821118e17d632ac","7ed56ff7af519b9c"],["9faefabc999a8158"],["5a82474ba10c6e74"],["d016190c77bcacb0"],["ad228eee1f84cb79"]]},{"id":"bc0ada7a42b1dd60","type":"function","z":"8fb2bfae3c7d38d4","name":"camera-sender","func":"// We assume everything goes OK everytime\nconst fs = global.get('fs');\n\nlet filePath = String.raw`webcam.jpg`;\n\nconsole.log(`\"${msg.payload}\"`);\nif (!msg.payload) {\n    msg.statusCode = 500;\n    return msg;\n}\n\nmsg.statusCode = 200;\n\nconst imageBuffer = fs.readFileSync(filePath);\nmsg.payload = imageBuffer.toString('base64');\n\n// const imageBuffer = msg.payload;\n// msg.payload = imageBuffer;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["2cd79f40fdb1ec81","d2fdb75bfa48c167"]]},{"id":"0880ef1c4c48925d","type":"debug","z":"8fb2bfae3c7d38d4","name":"camera-get-request","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Camera: Request received\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":360,"y":60,"wires":[]},{"id":"c52e33bbadd351c3","type":"websocket in","z":"8fb2bfae3c7d38d4","name":"servo websocket","server":"df33e4cc38186415","client":"","x":145,"y":480,"wires":[["ddcf56525af3918e"]],"l":false},{"id":"7ed56ff7af519b9c","type":"debug","z":"8fb2bfae3c7d38d4","name":"eye-x","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":780,"wires":[]},{"id":"e1bb5c88cc74b8b6","type":"http in","z":"8fb2bfae3c7d38d4","name":"","url":"/servo/get","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["1123baa5016085cb"]]},{"id":"9cdffc548b84a4c5","type":"http response","z":"8fb2bfae3c7d38d4","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":770,"y":320,"wires":[]},{"id":"1123baa5016085cb","type":"function","z":"8fb2bfae3c7d38d4","name":"servo-get-handler","func":"const servos = flow.get('servos');\n\nmsg.payload = JSON.stringify(servos);\nmsg.statusCode = 200;\n\nnode.send(msg);\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["9cdffc548b84a4c5","36b27ae32febe7fa"]]},{"id":"36b27ae32febe7fa","type":"debug","z":"8fb2bfae3c7d38d4","name":"servo-get-response","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":240,"wires":[]},{"id":"d2fdb75bfa48c167","type":"debug","z":"8fb2bfae3c7d38d4","name":"camera-get-response","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":60,"wires":[]},{"id":"37a15a84a5f624ee","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"4","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":770,"y":380,"wires":[]},{"id":"154ab160c6626aca","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":420,"wires":[]},{"id":"a5badbe8605d44a3","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":460,"wires":[]},{"id":"5e362f0bc2b1ccf8","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"27","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":500,"wires":[]},{"id":"7fa136f023d86f18","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":540,"wires":[]},{"id":"825de885183b17c5","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":580,"wires":[]},{"id":"1ed2f1d49a0a49ae","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"24","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":620,"wires":[]},{"id":"cc9c2f76ea0a6b1f","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"5","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":660,"wires":[]},{"id":"37562ab0a3832ce2","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"6","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":700,"wires":[]},{"id":"ba6074d9efa3f3f7","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"12","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":740,"wires":[]},{"id":"e821118e17d632ac","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"13","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":780,"wires":[]},{"id":"9faefabc999a8158","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"19","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":820,"wires":[]},{"id":"5a82474ba10c6e74","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"16","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":860,"wires":[]},{"id":"d016190c77bcacb0","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"26","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":900,"wires":[]},{"id":"ad228eee1f84cb79","type":"pi-gpiod out","z":"8fb2bfae3c7d38d4","name":"","host":"localhost","port":8888,"pin":"20","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":780,"y":940,"wires":[]},{"id":"de88ead7c717d440","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-shoulder-x","info":"","x":930,"y":380,"wires":[]},{"id":"9c5e729078ab4138","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-shoulder-y","info":"","x":930,"y":420,"wires":[]},{"id":"8ab7d4299f8c1c6d","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-elbow","info":"","x":910,"y":460,"wires":[]},{"id":"6136660f427d2efd","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-hand-x","info":"","x":920,"y":500,"wires":[]},{"id":"c634fa2855bb0388","type":"comment","z":"8fb2bfae3c7d38d4","name":"l-hand-y","info":"","x":920,"y":540,"wires":[]},{"id":"e01e6cefa9da6d27","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-shoulder-x","info":"","x":930,"y":580,"wires":[]},{"id":"6abde4449046fa8a","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-shoulder-y","info":"","x":930,"y":620,"wires":[]},{"id":"95b23c3eb179d7aa","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-elbow","info":"","x":910,"y":660,"wires":[]},{"id":"7aef2746f2e996cc","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-hand-x","info":"","x":920,"y":700,"wires":[]},{"id":"0ccc17866fb8fc8d","type":"comment","z":"8fb2bfae3c7d38d4","name":"r-hand-y","info":"","x":920,"y":740,"wires":[]},{"id":"a3965650ffddad60","type":"comment","z":"8fb2bfae3c7d38d4","name":"eye-x","info":"","x":910,"y":780,"wires":[]},{"id":"a52b139ee08b11fe","type":"comment","z":"8fb2bfae3c7d38d4","name":"eye-y","info":"","x":910,"y":820,"wires":[]},{"id":"7bce1aaf1178548f","type":"comment","z":"8fb2bfae3c7d38d4","name":"neck-x","info":"","x":910,"y":860,"wires":[]},{"id":"61e9b8096f3e57f7","type":"comment","z":"8fb2bfae3c7d38d4","name":"neck-y","info":"","x":910,"y":900,"wires":[]},{"id":"bc2414b4f7b278d0","type":"comment","z":"8fb2bfae3c7d38d4","name":"jaw","info":"","x":910,"y":940,"wires":[]},{"id":"0010430a09323bad","type":"camerapi-takephoto","z":"8fb2bfae3c7d38d4","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":340,"y":180,"wires":[["bc0ada7a42b1dd60"]]}]